.container{
    /* background-image: linear-gradient(90deg,  #c40405 40%, rgb(255, 255, 255) 40%);   */
    background-image:
    linear-gradient(90deg, #b31217 30%, #e52d27  40%, rgb(255, 255, 255) 40%);
   bottom:0;
   left:-50%;
   position:fixed;
   right:-50%;
   top:0;
   text-decoration: none;
   z-index: -100;

}

.contain{
    background-image: url(../image/pokemon_create.png);
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    position: absolute;
     height: 100%;
    width: 100%;   
    top: 0;
    left: 0;

}

.all{
    float:right;
}

.containP{
 
    margin-right: 200px;
    align-self: center;
    width: 450px;
    height: 420px;
    /* background: #ffffff; */
    overflow: visible;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24); */
    margin-top: 0px;
    padding: 35px;
}

.containP form{
    text-align: left;
    margin-left: 0px;
  }

.link{

    margin-right: 190px;  
  }

.link  button {
    font-family: 'Gantari', sans-serif;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #3f3f3f;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
  

  }
  
 .link button:hover {
    background-color: #a7a7a7;
    box-shadow: 0px 5px 10px rgba(229, 46, 46, 0.163);
    color: #fff;
    transform: translateY(-1px);
  }
  
  .containP h1{
    font-family: 'Gantari', sans-serif;
    color:  #c40405;
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-top: -15px;
    }

    .sInput label 				 {
    color: #3f3f3f;
    letter-spacing: 1px;
    font-size:12px;
    font-weight: 500;
    text-transform: uppercase;
    pointer-events:none;
    font-family: 'Gantari', sans-serif;
    line-height: 0;

        
      }
      .sInput input		{
     border-bottom: solid 1px #c40405;
      border-radius: 0px;
      width: 100%;
      font-size: 12px;
      /* margin-bottom: 5px; */
      outline: none;
      background: transparent;
      padding: 0;
      
        
        
      }
      /* input:hover, input:focus {
        box-shadow: 0 0 0em #c40405;
      } */
      
      
      input[type="range"]{
        width: 100%;
        height: 0.5px;
        -webkit-appearance: none;
        appearance: none;
        /* background-color: #c4040435; */
        line-height: 0;
      
        outline: none;
      }
      input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        height: 10px;
        width: 10px;
        background-color: #c40405;
        border-radius: 50%;
        cursor: pointer;
      }

      .data {
        display: flex;
        font-family: 'Gantari', sans-serif;
        color: #c40405;
      margin:0;
        padding-left: 3px;
        border:hidden;
        font-size: 15px;
        font-weight: 700;
      }

      .error{
        font-family: 'Gantari', sans-serif;
        font-size: 12px;
        color:#3f3f3f;
       margin-top: 0;
        text-align: right;
       
      }
      



      .create {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
       
      }
    
      .create  button {
        font-family: 'Gantari', sans-serif;
        color: #c40405;
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        font-weight: 700;
      }
      
      .create  button:hover {
        background-color: #c40405;
        box-shadow: 0px 15px 20px rgba(46, 229, 156, 0.163);
        color: #fff;
        transform: translateY(-3px);
      }
      
      .create button:active {
        transform: translateY(-1px);
      }
      
      
      .sInput select {
       
      /* display: flex; */
      cursor: pointer;
      padding: 10px 10px;
      height: 40px;
      outline: 0; 
      border: 0;
      margin-left: 10px;
      text-align: center;
      border-radius: 45px;
      background: transparent;
      color: #c40405;
      font-size: 12px;
      background-color: #ffffff;
       text-transform: uppercase;
      font-weight: 500;
      font-family: 'Gantari', sans-serif;
      box-shadow: 0;
      transition: all 0.25s ease;
      
      
      }

       .type{
        display: inline-block;
        width: auto;
        margin: auto;
        padding-left: 20px;
      
   
      } 
      
      .type p{
        color:#c40405;
        font-size:12px;
        text-transform: uppercase;
        pointer-events:none;
        font-family: 'Gantari', sans-serif;
        line-height: 0;
        font-weight: 700;
        display: inline;
      

        
      
      }
      
      .type button{
        color:#3f3f3f;
        border: none;
        text-transform: uppercase;
        font-size: 12px;
        background: transparent;
        transition: all 0.3s;
        margin-right: 10px;
      }
      
      .type button:hover{
        color: #ff2028;
      }